{% extends 'layout/base.html' %}
{% block title %}
{% load account %}
    <h1>{{ advert.title }}</h1>
{% endblock %}

{% block content %}
<div class="container mx-auto mt-5">
    <h2 class="text-center ">{{ advert.title }}</h2>
</div>
<div class="row pt-5">
    <div class="col-sm-3 mr-auto border">
    </div>
    <div class="col-sm-6 mr-auto border bg-light">
        <div class="card mb-1 bg-dark text-white mx-auto" style="max-height: 120px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ advert.user.avatar.url }} }" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                            <h5 class="card-title">{{ advert.user.nickname }}</h5>
                        <p class="card-text"> This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

            <div class="container pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col bg-dark text-white">
                            <h4 class="text-center mt-2 ">Платформа</h4>
                        </div>
                        <div class="col bg-dark text-white">
                            <h4 class="text-center mt-2 ">Интересует</h4>
                        </div>
                        <div class="col bg-dark text-white">
                            <h4 class="text-center mt-2 ">Тип контента</h4>
                        </div>
                        <div class="col bg-dark text-white">
                            <h4 class="text-center mt-2 ">Цена</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col border">
                            <h5 class="text-center mt-2"> {{ advert.platform }}</h5>
                        </div>
                        <div class="col border">
                            <h5 class="text-center mt-1">{{ advert.advert_category }}</h5>
                        </div>
                        <div class="col border">
                            <h5 class="text-center mt-1">{{ advert.content_type }}</h5>
                        </div>
                        <div class="col border">
                            <h5 class="text-center mt-1">{{ advert.price }}</h5>
                        </div>
                    </div>
                    <p class="lead mt-5 pt-5">{{ advert.content }}</p>
                <h5 class="display-9 col-sm-4 mt-5 pt-5 ml-auto">{{ advert.published }}</h5>
            </div>

    </div>
    </div>
    <div class="col-sm-3 mr-auto border">
    </div>


    <a href="{% url 'update' pk=advert.id %}"><input type="button" value="Изменить"></a>

   <div class="col-sm-4 mx-auto">
        <form class="mt-4" method="post" action="{% url 'add_review' advert.pk %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <input hidden="" value="{{ user.pk }}" name="user">
            <input hidden="" value="{{ advert.pk }}" name="advert">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>

        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Оставить отзыв</button>
    </form>
    <div>
    {% for review in reviews  %}
        <div class="media border mt-5">
            <img src="{{ review.user.avatar.url }}" width="64" height="64" class="mr-3 border" alt="...">
            <div class="media-body">
                <h5 class="mt-0">{{ review.user.nickname }}</h5>
                {{ review.text }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}