{% extends 'layout/base.html' %}
{% load bootstrap_pagination %}

{% block content %}
    <div class="row">
        <div class="col-sm-3 mr-auto border">
            <div class="container p-4">
                <form class="form-inline" action="{% url 'search' %}" method="get">
                    <input class="form-control col-sm-8 bg-dark text-white"  placeholder="Название" name="search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                </form>
            </div>
            <form action="{% url 'filter' %}" method="get">
                <div class="container mt-3 pl-4">
                    {% for category in view.get_advert_category %}
                        <div class="custom-control custom-checkbox ">
                            <h5>
                                <input type="checkbox" class="custom-control-input" name="advert_category" value="{{ category.id }}" id="{{ category.id }}">
                                <label class="custom-control-label" for="{{ category.id }}">{{ category.name }}</label>
                            </h5>
                        </div>
                    {% endfor %}
                </div>
                <div class="container mt-3 pl-4">
                    {% for type in view.get_content_type %}
                        <div class="custom-control custom-checkbox ">
                            <h5>
                                <input type="checkbox" class="custom-control-input" name="content_type" value="{{ type.pk }}" id="{{ type.pk }}">
                                <label class="custom-control-label" for="{{ type.pk }}">{{ type.name }}</label>
                            </h5>
                        </div>
                    {% endfor %}
                </div>
                <div class="conrainer ml-3 mt-1">
                    <button class="btn btn-outline-success" type="submit">Найти</button>
                </div>
            </form>
        </div>
        <div class="col-sm-6 mr-auto">
            {% for advert in adverts %}
                    <div class="card border-primary mt-3 mx-auto" style="width: 30rem;">
                        <div class="card-header border-primary">
                            <h5 class="card-title">
                                <a href="{% url 'detail' pk=advert.pk %}">{{ advert.title }}</a>
                            </h5>
                            <h6 class="card-subtitle mb-2 ">{{ advert.advert_category }}</h6>
                        </div>
                        <div class="card-body border-primary">
                            <p class="card-text">{{ advert.content }}</p>
                            <p class="card-text">{{ advert.price }}</p>
                            <p class="card-text">{{ advert.published|date:"d.m.Y H:i:s" }}</p>
                        </div>
                        <div class="card-footer border-primary">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
            {% endfor %}
            <div class="text-xs-center">
                <div class="paginator">
                    {% bootstrap_paginate page_obj %}
                </div>
            </div>
        </div>
        <div class="col-sm-3 mr-auto">
        </div>
        <div class="row">
            <div class="col mx-auto">
                {% bootstrap_paginate page_obj %}
            </div>
        </div>
    </div>



{% endblock %}